.card-box-top {
   background: var(--WHITE);
   position: absolute;
   display: block;
   width: var(--CARD_WIDTH);
   max-width: 400px;
   height: var(--CARD_HEIGHT);
   align-content: center;
   overflow-y: auto;
   border: 2px solid var(--BLACK);
   margin: -20% calc(50% + 4% + 8px);
   z-index: 8;
   opacity: 0;
   transition: var(--COMMON_TRANSITION);
}

/* LOCATION FOR ALL OTHER CARDS */
.other-page-top {
   margin: 26px calc(50% + 4% + 8px);
   z-index: 9;
   opacity: 1;
}

.close-card-button {
   margin-right: 2px;
   margin-bottom: 5px;
   text-align: right;
}

.card-content {
   margin: 35px 0;
}

/* IF SCREEN IS AVERAGE DESKTOP VERSION, THEN HAVE FOLLOWING STYLES */
@media screen and (min-width: 1200px) {
   .card-box-top {
      max-width: 533px;
      height: 600px;
   }
   .home-loc {
      margin: 26px calc(50% - (var(--CARD_WIDTH) - 5%) - 16px);
   }
   .other-page-top {
      margin: 26px calc(50% + 6%);
   }
}

/* IF SCREEN IS DESKTOP-SMALL VERSION, THEN HAVE FOLLOWING STYLES */
@media screen and (max-width: 960px) {
   .card-box-top {
      display: none;
      margin: 75px 4%;
      max-width: none;
      width: 92%;
      height: auto;
      transition: none;
   }

   .other-page-top {
      display: block;
   }
}

/* IF SCREEN IS MOBILE VERSION, THEN HAVE FOLLOWING STYLES */
@media screen and (max-width: 480px) {
   .card-box-top {
      width: 92%;
   }
}
