li.tech-stack-list {
	margin-left: 18px;
	list-style: initial;
}

p.indent-paragraph {
	text-indent: 30px;
}

h3.content-subheading {
	font-size: 14px;
	padding-bottom: 3px;
	text-align: left;
	text-decoration: underline;
}
