.home-img-round {
   background: url("../../../images/Solo.JPG") center center/cover no-repeat;
   position: block;
   height: 150px;
   width: 150px;
   margin: auto;
   border-radius: 50%;
   border: 4px solid red;
}

.home-intro-title {
   margin-top: 15px;
   /* background: teal; */
}

.home-hello-welcome {
   font-size: 20px;
}

.home-intro-name {
   padding: 10px 0;
   font-size: 35px;
   color: var(--REG_BLUE);
}

.home-intro-program {
   /* font-size: 14px; */
   /* font-size: 21px; */
}

.card-paragraphs {
   padding-bottom: 15px;
   font-size: 12px;
}

.home-email-phone {
   background: var(--REG_BLUE);
   color: var(--WHITE);
   font-size: 13px;
   padding: 5px 0;
   border-radius: 7px;
}

.social-media {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 10px 0;
}

.social-media-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 90px;
   padding: 0 10px;
}

.social-icon {
   font-size: 30px;
   color: var(--DARK_BLUE);
   background-image: linear-gradient(
      to bottom,
      transparent 20%,
      var(--WHITE) 20%,
      var(--WHITE) 93%,
      transparent 93%
   );
   background-position: 50% 0;
   background-repeat: no-repeat;
   transition: all 0.4s ease;
}

.social-icon:hover {
   transition: all 0.4s ease;
   color: var(--REG_BLUE);
}

.fa-facebook-square {
   background-size: 65% 98%;
}

.fa-linkedin {
   background-size: 80% 95%;
}

/* ALSO CAN INCREASE OVERALL CARD SIZE */

/* IF SCREEN IS VERY WIDE, INCREASE SIZE OF CONTENT IN CARD */
/* @media screen and (min-width: 1200px) {
   .home-img-round {
      height: 300px;
      width: 300px;
   }
} */
