.headshot1 {
   background: url("../../../images/headshot_1.png") top -8px center/cover no-repeat;
}

.headshot2 {
   background: url("../../../images/headshot_2.png") top -8px center/cover no-repeat;
}

.home-img-round {
   position: block;
   height: 150px;
   width: 150px;
   margin: auto;
   border-radius: 50%;
   border: 4px solid var(--DARK_BLUE);
   transition: var(--COMMON_TRANSITION);
}

.home-intro-title {
   margin-top: 15px;
}

.home-hello-welcome {
   font-size: 20px;
}

.home-intro-name {
   padding: 10px 0;
   font-size: 35px;
   color: var(--REG_BLUE);
}

.home-intro-program {
   font-size: 14px;
}

#home-paragraph {
   text-align: center;
}

.social-media {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 10px 0;
}

.social-media-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 110px;
}

.social-icon {
   font-size: 35px;
   color: var(--REG_BLUE);
   background-image: linear-gradient(
      to bottom,
      transparent 20%,
      var(--WHITE) 20%,
      var(--WHITE) 93%,
      transparent 93%
   );
   background-position: 50% 0;
   background-repeat: no-repeat;
   transition: all 0.4s ease;
}

.social-icon:hover {
   transition: var(--COMMON_TRANSITION);
   color: var(--DARK_BLUE);
}

.fa-facebook-square {
   background-size: 65% 98%;
}

.fa-linkedin {
   background-size: 80% 95%;
}

.fa-envelope-square {
   background-size: 80% 95%;
}

/* FIX HOVER OVER EMAIL ICON */
#email-text {
   display: none;
   /* opacity: 0; */
   transition: all 0.5s ease;
}

#envelope-icon:hover #email-text {
   display: block;
   /* opacity: 1; */
}

/* ALSO CAN INCREASE OVERALL CARD SIZE */

/* IF SCREEN IS VERY WIDE, INCREASE SIZE OF CONTENT IN CARD */
/* @media screen and (min-width: 1200px) {
   .home-img-round {
      height: 300px;
      width: 300px;
   }
} */
