.email-address {
   padding-top: 5px;
   font-size: 14px;
}

#contact-form {
   width: 90%;
   margin: 15px auto 0;
}

h4.form-field-headers {
   margin-top: 5px;
   text-align: left;
}

form .form-control {
   background: transparent;
   color: var(--BLACK);
   border: 1px solid var(--DARK_BLUE);
   outline: none;
   width: 100%;
   height: 30px;
   margin: 5px 0;
   font-size: 14px;
   letter-spacing: 0.1mm;
}

form .form-control[type="text"],
form .form-control[type="email"] {
   padding: 5px 8px;
}

textarea.message {
   height: 100px;
}

form .form-control:hover {
   box-shadow: 0 0 6px var(--DARK_BLUE), 0 0 6px var(--DARK_BLUE),
      0 0 6px var(--DARK_BLUE);
}
form .form-control:focus {
   box-shadow: 0 0 6px var(--REG_BLUE), 0 0 6px var(--REG_BLUE),
      0 0 6px var(--REG_BLUE);
}

form .submit {
   background: var(--REG_BLUE);
   border-color: transparent;
   color: var(--WHITE);
   font-size: 16px;
   font-weight: bold;
   letter-spacing: 2px;
   height: 40px;
   width: 80%;
   margin-top: 5px;
   transition: background 0.5s ease;
}

form .submit:hover {
   background: var(--DARK_BLUE);
   cursor: pointer;
   transition: background 0.5s ease;
}
