.background-change {
    background: linear-gradient(
		to right,
		var(--DARK_BLUE) 50%,
		var(--REG_BLUE) 50%
	);
	background-size: 200% 100%;
	background-position: right bottom;
	transition: background-position 0.4s linear;
}

.nav-link-active, .background-change:hover {
	background-position: left bottom;
}

.button-link, .nav-link {
    color: var(--WHITE);
    display: block;
    padding: 4px 10px;
    border: 2px solid var(--GREY);
}

.button-link {
    margin: 20px auto;
}

.nav-link {
    margin-top: 5px;
}

.button-text {
    color: var(--WHITE);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    letter-spacing: 0.5px;
}

.button-icon {
    margin-left: 4px;
}

@media screen and (max-width: 960px) {
    .nav-link {
        margin-top: 0;
        padding: 10px 0;
        text-align: center;
        border: none;
        transition: none;
    }

    .nav-link:hover,
	.nav-link-active {
		background: var(--DARK_BLUE);
	}
}
