.project-post-container {
	display: block;
}

.project-date {
	padding: 20px 0;
}

hr.horizontal-bar__project-posts {
	background: var(--GREY);
	border: 2px solid var(--GREY);
	margin: 0 0 15px;
	border-radius: 5px;
}
