/* TODO: Figure out where I'm text-align: center by default and revert it to left. */
p, li, p.quote-text {
    color: var(--BLACK);
    font-family: var(--FONT);
    line-height: 17px;
    letter-spacing: 0.2px;
    font-size: 12px;
    font-weight: 400;
}

.bold {
    /* TODO: Confirm this works. */
    font-weight: 600;
}

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}
