li.project-container {
	display: block;
	border-radius: 10px;
	width: 90%;
	margin: 15px auto;
	border-bottom: 1px solid var(--LIGHT_GREY);
}

.project-content {
	display: block;
	width: 100%;
	overflow: hidden;
}

.project-description-box {
	padding: 5px;
}

hr.horizontal-bar__projects {
	background: var(--GREY);
	border: 2px solid var(--GREY);
	margin: 30px 0 15px 0;
	border-radius: 5px;
}
