.email-address {
   padding-top: 5px;
   font-size: 14px;
}

#contact-form {
   width: 90%;
   margin: 15px auto 0;
}

h4.form-field-headers {
   margin-top: 5px;
}

form .form-control {
   background: transparent;
   color: var(--BLACK);
   border: 1px solid var(--BLACK);
   outline: none;
   width: 100%;
   height: 30px;
   margin: 5px 0;
   font-size: 14px;
   letter-spacing: 0.1mm;
}

form .form-control[type="text"],
form .form-control[type="email"] {
   padding: 5px 8px;
}

textarea.message {
   resize: vertical;
   height: 100px;
}

form .form-control:hover {
   box-shadow: 0 0 6px var(--DARK-BLUE), 0 0 6px var(--DARK-BLUE),
      0 0 6px var(--DARK-BLUE);
}
form .form-control:focus {
   box-shadow: 0 0 6px var(--BLUE), 0 0 6px var(--BLUE),
      0 0 6px var(--BLUE);
}

form .submit {
   background: var(--BLUE);
   border-color: transparent;
   color: var(--WHITE);
   font-size: 16px;
   font-weight: bold;
   letter-spacing: 2px;
   height: 40px;
   width: 80%;
   margin: 5px 10% 0;
   transition: background 0.5s ease;
}

form .submit:hover {
   background: var(--DARK-BLUE);
   cursor: pointer;
   transition: background 0.5s ease;
}

#thank-you-container {
   background: var(--WHITE);
   position: absolute;
   border: 2px solid var(--GREEN);
   top: 30%;
   left: 15%;
   width: 70%;
   right: 15%;
   padding: 5px 10px;
   visibility: hidden;
}
