.home-center, .home-left {
    z-index: 10;
    transition: margin var(--TRANSITION-DEFAULT);
}

.home-center {
    margin: 26px calc(50% - (var(--CARD_WIDTH) / 2));
}

.home-left {
    margin: 26px calc(50% - (var(--CARD_WIDTH) - 5%) - 16px);
}

.headshot1 {
	background: url("../../images/home/headshot1.png");
}

.headshot2 {
	background: url("../../images/home/headshot2.png");
}

.home-img-round {
	height: 150px;
	width: 150px;
	margin: auto;
	background-position-x: center;
	background-position-y: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: var(--BORDER-RADIUS-ROUND);
	border: 4px solid var(--DARK-BLUE);
	transition: background var(--TRANSITION-DEFAULT);
}

.home-intro-title {
	margin-top: 10px;
	margin-bottom: 15px;
}

.home-intro-name {
	margin-bottom: 10px;
}

.home-intro-program {
	margin-bottom: 15px;
}

.social-media {
	margin: 20px 0;
}

@media screen and (min-width: 1200px) {
	.home-img-round {
		height: 175px;
		width: 175px;
	}
}

@media screen and (max-width: 960px) {
	.home-center {
		margin: 75px 4%;
	}

    .home-left {
        display: none;
    }
}
