.personal-logo {
	color: var(--WHITE);
    background: linear-gradient(45deg, #056ba7 20%, #1fbcf5 50%, #056ba7 80%);
	font-family: "Merienda One", "Montserrat", Arial, sans-serif;
	font-size: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 90px;
	width: 90px;
	border-radius: 50%;
	border: 2px solid var(--GREY);
	transition: color 1s linear;
}

.personal-logo:hover {
    /* TODO: Maybe have gradient do a rotation. */
	color: #c7c1c1;
}


@media screen and (max-width: 960px) {
    .personal-logo {
        font-size: 21px;
        height: 40px;
        width: 40px;
        border: 1px solid var(--BLACK);
    }
}
