.card-box {
   background: blue;
   width: 40%;
   max-width: 500px;
   /* height: 450px; */
   height: 80%;
   overflow-y: auto;
}

.card-container {
   padding: 40px;
}

.card-title {
   padding-left: 150px;
}

.card-content {
   padding-top: 150px;
}
