.card-box {
   background: blue;
   width: 40%;
   height: 450px;
   overflow-y: auto;
}

.card-container {
   padding: 40px;
}

.card-title {
   font-family: var(--FONT_HEADINGS);
}

.card-content {
   font-family: var(--FONT_CONTENT);
}
