.card-box {
   background: blue;
   position: absolute;
   display: block;
   width: 35%;
   max-width: 500px;
   min-height: calc(var(--MIN_SCREEN_HEIGHT) - 50px);
   height: 550px;
   overflow-y: auto;
}

/* LOCATION FOR HOME CARD */
.home {
   /* CENTER CARD ON X-AXIS */
   /* calc(50% - (35% / 2)) */
   margin: 5% 17.5vw;
}

/* LOCATION FOR ALL OTHER CARDS */
.other {
   margin: 5% 55%;
}

.card-container {
   padding: 40px;
}

.card-title {
   padding-left: 150px;
}

.card-content {
   padding-top: 150px;
}

/* IF SCREEN HEIGHT IS SUPER BIG, THEN CENTER CONTENT VERTICALLY */
/* @media screen and (min-height: 600px) {
   .home {
      margin: 5% calc(50% - (35% / 2));
   }
} */
