.social-media {
   background: orange;
   display: flex;
   justify-content: center;
   align-items: center;
}

.social-media-wrap {
   background: red;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 110px;
   padding: 10px;
}

.social-icon-link {
   background: turquoise;
   color: black;
   font-size: 20px;
}

.social-icon-link:hover {
   color: yellow;
}
