.project-github-youtube {
   display: block;
}

.project-gh {
   float: left;
}

.project-yt {
   float: right;
}

.project-date-coding {
   padding-bottom: 5px;
}

hr.horizontal-bar__coding-project-posts {
   background: var(--GREY);
   border: 2px solid var(--GREY);
   margin: 0 0 15px;
   border-radius: 5px;
}
