:root {
    --CARD_WIDTH: 35%;
    /* TODO: Maybe convert height as % of screen (similar to Juxtapose modal). */
    --CARD_HEIGHT: 525px;
}

.card-box {
    background: var(--WHITE);
    position: absolute;
    display: block;
    width: var(--CARD_WIDTH);
    max-width: 400px;
    height: var(--CARD_HEIGHT);
    align-content: center;
    /* TODO: Top padding should be a %. */
    margin: 26px calc(50% + 6%);
    border: 2px solid var(--BLACK);
    border-radius: var(--BORDER-RADIUS-DEFAULT);
    z-index: 9;
}

.card-container {
    display: flex;
    flex-direction: column;
    height: 90%;
    margin: 5%;
}

.card-content {
    flex-grow: 1;
    overflow-y: auto;
}

@media screen and (min-width: 1200px) {
    .card-box {
        max-width: 533px;
        height: 600px;
    }
}

@media screen and (max-width: 960px) {
    .card-box {
        display: block;
        width: 92%;
        max-width: none;
        height: auto;
        margin: 75px 4%;
    }
}
