.work-info-container {
    width: 90%;
    margin: 15px auto 0;
    padding: 10px;
    border: 1px solid var(--GREY);
}

.work-role {
    color: var(--BLUE);
    font-size: 16px;
    margin-bottom: 2px;
}

.work-duration {
    color: var(--DARK-BLUE);
    font-size: 12px;
    margin-bottom: 5px;
}

.work-description {
    margin-top: 8px;
}

li.work-detail {
    list-style: initial;
    margin-left: 13px;
}
