.project-date-container {
   height: 45px;
}

.project-date-com {
   padding-top: 20px;
   float: left;
}

hr.horizontal-bar__com-project-posts {
   background: var(--GREY);
   border: 2px solid var(--GREY);
   margin: 0 0 15px;
   border-radius: 5px;
}
