.header-container {
    margin-bottom: 30px;
}

.header-title {
    color: var(--REG_BLUE);
    text-align: left;
    margin-bottom: 5px;
}

hr.horizontal-bar__title {
    border-top: 1px solid var(--GREY);
    border-left: 0;
}
