/* GLOBAL VARIABLE FOR NUMBER OF ITEMS */
:root {
	--NUM_OF_ITEMS: 6;
	--NAV_MENU_SIZE: calc(var(--NUM_OF_ITEMS) * 30px);
}

nav {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 32px;
	z-index: 999;
	transition: margin-left 0.5s linear;
}

.middle {
	margin-left: calc(50% - (135px / 2 + 25.5%));
}

.left {
	margin-left: calc(50% - (135px + 33%));
}

.navbar-container {
	display: flex;
	height: var(--NAV_MENU_SIZE);
	max-width: 1500px;
	display: table-column;
}

.navbar-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 15px auto;
}

.menu-icon {
	display: none;
}

.nav-menu {
	justify-content: center;
	align-items: center;
	width: 135px;
	display: table;
}

.nav-item {
	height: calc(var(--NAV_MENU_SIZE) / var(--NUM_OF_ITEMS));
}

/* MIGHT NEED TO ADJUST THE MAX-WIDTH DEPENDING ON CARD SIZES */

/* IF SCREEN IS DESKTOP-SMALL VERSION, THEN HAVE FOLLOWING STYLES */
@media screen and (max-width: 960px) {
	nav {
		background: var(--DARK-GREY);
		position: fixed;
		margin-top: 0;
		width: 100vw;
		transition: none;
	}

	.middle,
	.left {
		margin-left: 0;
	}

	.navbar-container {
		height: 50px;
		display: flex;
	}

	.navbar-logo {
		position: absolute;
		left: 15px;
		margin: 0;
		transform: translateY(13%);
	}

	.menu-icon {
		position: absolute;
		display: block;
		top: 20%;
		right: 30px;
	}

	.nav-menu {
		position: absolute;
		top: 50px;
		right: -100%;
		width: 100%;
		height: calc(var(--NAV_MENU_SIZE) + 4px);
		z-index: 1;
		border: 3px solid var(--DARK-GREY);
		border-top: none;
		transition: right 0.5s ease;
	}

	.nav-menu.active {
		right: 0;
		transition: right 0.5s ease;
	}

	.nav-item {
		padding: 0;
	}
}
