/* GLOBAL VARIABLE FOR NUMBER OF ITEMS */
:root {
   --NUM_OF_ITEMS: 7;
   --NAV_MENU_SIZE: 245px;
}

nav {
   background: #35aef1;
   position: fixed;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.2rem;
   z-index: 999;
   font-weight: bold;
}

.navbar-container {
   display: flex;
   height: var(--NAV_MENU_SIZE);
   max-width: 1500px;
}

.navbar-logo {
   color: white;
   justify-self: start;
   margin-left: 15px;
   font-size: 2rem;
   display: flex;
   align-items: center;
   /* ATTEMPT AT MAKING CIRCLE FOR LOGO ICON */
   /* border: 4px solid orange;
   border-radius: 100%; */
}

.menu-icon {
   display: none;
}

.nav-menu {
   background: yellow;
   justify-content: center;
   text-align: center;
}

.nav-item {
   height: calc(var(--NAV_MENU_SIZE) / var(--NUM_OF_ITEMS));
}

.nav-links {
   background: green;
   padding-top: 4px;
   padding-bottom: 4px;
}

/* MIGHT NEED TO ADJUST THE MAX-WIDTH DEPENDING ON CARD SIZES */

/* IF SCREEN IS MOBILE VERSION, THEN HAVE FOLLOWING STYLES */
@media screen and (max-width: 960px) {
   nav {
      background: black;
      width: 100vw;
   }

   .navbar-container {
      height: 50px;
      display: flex;
   }

   .navbar-logo {
      position: absolute;
      display: flex;
      top: 0;
      left: 0;
      transform: translateY(40%);
      font-size: 1.6rem;
   }

   .menu-icon {
      color: white;
      position: absolute;
      display: block;
      top: 20%;
      right: 5%;
      font-size: 1.8rem;
   }

   .fa-times {
      font-size: 2rem;
   }

   .nav-menu {
      background: yellow;
      position: absolute;
      display: block;
      flex-direction: column;
      top: 50px;
      right: 0;
      width: 30%;
      height: var(--NAV_MENU_SIZE);
      z-index: 998;
   }

   .nav-menu.active {
      background: blue;
      /* right: 0; */
      overflow-y: auto;
   }

   .nav-links {
      background: green;
      display: block;
      text-align: right;
      padding-right: 18%;
   }
}

/* IF SCREEN IS MOBILE VERSION, THEN HAVE FOLLOWING STYLES */
@media screen and (max-width: 480px) {
   .nav-menu {
      width: 100%;
      height: var(--NAV_MENU_SIZE);
   }

   .nav-links {
      background: turquoise;
      display: block;
      text-align: center;
      padding-right: 0;
   }
}
