.footer-container {
    margin-top: 35px;
}

hr.horizontal-bar__footer {
    border-top: 1px solid var(--LIGHT_GREY);
    border-left: 0;
}

p.footer-quote {
    color: var(--BLACK);
    font-size: 11px;
    margin-top: 5px;
}
 
span.footer-author {
    font-style: italic;
}
