.progress-container {
   /* background: cyan; */
   margin: 10px 0;
}

.progress-header {
   float: left;
}

.percentage {
   float: right;
}

.horizontal-bar__skills {
   margin-top: 5px;
   height: 10px;
   display: block;
   border-color: var(--BLACK);
   border-radius: 10px;
}
