.progress-container {
   margin: 10px 0;
}

.progress-header {
   color: var(--GREY);
   float: left;
}

.percentage {
   color: var(--GREY);
   float: right;
   font-weight: normal;
   padding-top: 2px;
   font-size: 13px;
}

.horizontal-bar__skills {
   margin-top: 5px;
   height: 10px;
   border-color: var(--BLACK);
   border-radius: 10px;
}
