img.post-specific:hover {
   transform: none;
}

h4.blog-author {
   color: var(--GREY);
   padding-top: 6px;
   font-size: 12px;
}

.blog-post-date {
   float: right;
}

hr.hr-blog-margin-adjust {
   margin-bottom: 20px;
}
