.group-skills-container {
   /* background: lime; */
}

.skills-header {
   color: var(--BLACK);
   text-align: left;
}

.fa-cogs,
.fa-users {
   margin-right: 10px;
}

hr.horizontal-bar__skills-title {
   margin: 5px 0 -3px 0;
   border-top: 1px dotted black;
}

.skills-divider {
   height: 30px;
}
