:root {
   /* COLOURS */
   --BLACK: #2D3748;
   --WHITE: #FEFEFE;
   --DARK-GREY: #3D3D3D;
   --GREY: #C4C4C4;
   --LIGHT-GREY: #E7E7E7;
   --HOVER-GREY: #C7C1C1;

   --DARK-BLUE: #004E7C;
   --BLUE: #009AD0;

   --LOGO-OUT-BLUE: #056BA7;
   --LOGO-IN-BLUE: #1FBCF5;

   --GREEN: #52C41A;
   --RED: #FF4D4F;
   --ORANGE: #FFA940;

   /* FONTS */
   --HEADING-FONT: "Raleway", sans-serif;
   --BODY-FONT: "Montserrat", sans-serif;
   --LOGO-FONT: "Merienda", cursive;

   /* TRANSITIONS */ 
   --TRANSITION-FAST: 0.2s linear;
   --TRANSITION-DEFAULT: 0.5s linear;
   --TRANSITION-EASE: 0.5s ease;
   --TRANSITION-LONG: 1.5s ease;

   /* BORDERS */
   --BORDER-RADIUS-ROUND: 50%;
   --BORDER-RADIUS-DEFAULT: 8px;

   /* POSITIONING */
   --SPACING-TOP: 7%;

   --NAV-SMALL-HEIGHT: 70px;
   --SPACING-SMALL-TOP: calc(var(--NAV-SMALL-HEIGHT) + 30px);
   --SPACING-SMALL-LEFT: 4%;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: var(--BODY-FONT);
}

body {
   color: var(--BLACK);
}

li {
   list-style: none;
}

a, button {
   cursor: pointer;
}

a {
   text-decoration: none;
}

button {
   border: none;
   outline: none;
}

/* IMAGE BACKGROUND */
html {
   background: url("./images/background/mountain2.jpg") no-repeat center center
      fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
