/* GLOBAL VARIABLES */
:root {
   /* COLOURS */
   --BLACK: #000;
   --WHITE: #f9f9f9;
   --GREY: #3d3d3d;
   --REG_BLUE: #009ad0;
   --DARK_BLUE: #004e7c;

   /* FONTS */
   --FONT: "Montserrat", Arial, sans-serif;
   /* ----- BELOW WILL NEED FIXING ----- */
   --CARD_HEADING_FONT: 25px;

   /* MIN SCREEN HEIGHT */
   --MIN_SCREEN_HEIGHT: 600px;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: var(--FONT);
}

body {
   font-size: 14px;
   background: var(--WHITE);
}

p {
   color: var(--GREY);
   line-height: 17px;
   font-size: 12px;
   text-align: left;
}

li {
   list-style: none;
}

a {
   text-decoration: none;
   cursor: pointer;
   color: var(--BLACK);
}

button {
   cursor: pointer;
   border: none;
   outline: none;
}

/* VARIOUS HORIZONTAL BAR STYLES */
.horizontal-bar-fade {
   margin: 15px 0;
   width: 100%;
   border: 0;
   height: 1px;
   background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0)
   );
}

/* ALL MAIN CONTENT EXCLUDING NAVBAR */
.content-container {
   background: url("./images/temp_home.jpg") center center/cover no-repeat;
   background-attachment: fixed;
   position: block;
   height: 100vh;
   min-height: var(--MIN_SCREEN_HEIGHT);
   width: 100%;
   /* padding: 5% 5%; */
}

/* IF SCREEN IS DESKTOP-SMALL VERSION, THEN HAVE FOLLOWING STYLES */
@media screen and (max-width: 960px) {
   .content-container {
      padding-top: calc(50px + 10%);
   }
}

/* IF SCREEN IS MOBILE VERSION, THEN HAVE FOLLOWING STYLES */
@media screen and (max-width: 480px) {
}
