:root {
   --CARD_WIDTH: 35%;
}

.card-box-top {
   background: var(--WHITE);
   position: absolute;
   display: block;
   width: var(--CARD_WIDTH);
   max-width: 400px;
   height: 525px;
   text-align: center;
   align-content: center;
   overflow-y: auto;
   border: 2px solid var(--BLACK);
   margin: -20% calc(50% + 4% + 8px);
   z-index: 8;
   opacity: 0;
   transition: var(--COMMON_TRANSITION);
}

/* LOCATION FOR ALL OTHER CARDS */
.other-page-top {
   margin: 26px calc(50% + 4% + 8px);
   z-index: 9;
   opacity: 1;
}

i.close-menu {
   font-size: 32px;
   margin-right: 2px;
   float: right;
}

hr.horizontal-bar__subcard-top {
   padding-top: 5px;
   margin: 5px 0 30px 0;
   width: 100%;
   border-bottom: 1px solid var(--LIGHT_GREY);
   border-left: 0;
   border-top: 0;
   border-right: 0;
}

hr.horizontal-bar__subcard-bottom {
   margin: 35px 0 5px 0;
   border-top: 1px solid var(--LIGHT_GREY);
   border-left: 0;
}

/* IF SCREEN IS DESKTOP-SMALL VERSION, THEN HAVE FOLLOWING STYLES */
@media screen and (max-width: 960px) {
   .card-box-top {
      display: none;
      margin: 75px 4%;
      max-width: none;
      width: 92%;
      height: auto;
      transition: none;
   }

   .other-page-top {
      display: block;
   }
}

/* IF SCREEN IS MOBILE VERSION, THEN HAVE FOLLOWING STYLES */
@media screen and (max-width: 480px) {
   .card-box {
      margin: 70px 4%;
   }
}
