@import "../../../../../styles/HoverBackgroundChange.css";

.link-to-external {
	color: var(--WHITE);
	display: block;
	margin: 10px 5px 10px 5px;
	padding: 4px 8px;
	font-weight: bold;
	letter-spacing: 1px;
	width: 110px;
	border: 2px solid var(--GREY);
}

i.icon-link {
	padding-left: 3px;
}
