:root {
   --CARD_WIDTH: 35%;
   --CARD_HEIGHT: 525px;
}

.card-box {
   background: var(--WHITE);
   position: absolute;
   display: block;
   width: var(--CARD_WIDTH);
   max-width: 400px;
   height: var(--CARD_HEIGHT);
   text-align: center;
   align-content: center;
   overflow-y: auto;
   border: 2px solid var(--BLACK);
   margin: 26px calc(50% - (var(--CARD_WIDTH) / 2));
   z-index: 8;
   opacity: 0;
   transition: var(--COMMON_TRANSITION);
}

.home-vis {
   z-index: 10;
   opacity: 1;
}

/* LOCATION FOR HOME CARD */
.home-loc {
   margin: 26px calc(50% - (var(--CARD_WIDTH) - 5%) - 16px);
}

/* LOCATION FOR ALL OTHER CARDS */
.other-page {
   margin: 26px calc(50% + 4% + 8px);
   z-index: 9;
   opacity: 1;
}

/* CUSTOM SCROLLBAR FOR ALL PAGES */
div::-webkit-scrollbar {
   width: 16px;
   height: 16px;
}
div::-webkit-scrollbar-thumb {
   height: 6px;
   width: 6px;
   border: 4px solid rgba(0, 0, 0, 0);
   background-clip: padding-box;
   -webkit-border-radius: 7px;
   border-radius: 7px;
   background-color: rgba(0, 0, 0, 0.15);
   -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05),
      inset 1px 1px 0px rgba(0, 0, 0, 0.05);
   box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05),
      inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}
div::-webkit-scrollbar-thumb:hover {
   background-color: rgba(0, 0, 0, 0.3);
}

.card-container {
   margin: 30px;
}

.card-title {
   color: var(--REG_BLUE);
   text-align: left;
}

hr.horizontal-bar__title {
   margin: 5px 0 30px 0;
   border-top: 1px solid var(--GREY);
   border-left: 0;
}

hr.horizontal-bar__footer {
   margin: 35px 0 5px 0;
   border-top: 1px solid var(--LIGHT_GREY);
   border-left: 0;
}

p.footer-quote {
   color: var(--BLACK);
   line-height: 17px;
   font-size: 11px;
   text-align: left;
}

span.author {
   font-style: italic;
}

/* IF SCREEN IS AVERAGE DESKTOP VERSION, THEN HAVE FOLLOWING STYLES */
@media screen and (min-width: 1200px) {
   .card-box {
      max-width: 533px;
      height: 700px;
   }
   .home-loc {
      margin: 26px calc(50% - (var(--CARD_WIDTH) - 5%) - 16px);
   }
   .other-page {
      margin: 26px calc(50% + 6%);
   }
}

/* IF SCREEN IS DESKTOP-SMALL VERSION, THEN HAVE FOLLOWING STYLES */
@media screen and (max-width: 960px) {
   .card-box {
      display: none;
      max-width: none;
      width: 92%;
      margin: 75px 4%;
      height: auto;
   }

   .home-vis {
      display: block;
   }

   .home-loc {
      display: none;
   }

   .other-page {
      display: block;
   }
}

/* IF SCREEN IS MOBILE VERSION, THEN HAVE FOLLOWING STYLES */
@media screen and (max-width: 480px) {
   .card-box {
      width: 92%;
   }
}
